.simpleNavContainer {
  background: linear-gradient(
    to right,
    #b80046,
    #b90000,
    #cace00,
    #00bd84,
    #4300c0
  );
  animation: gradientAnimation 500s infinite;
  background-size: 300% 100%;
  border-bottom: var(--sec) 1px solid;
}
.simpleNavContainer ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0;
}

.simpleNavContainer a {
  text-decoration: none;
  color: var(--sec);
  font-family: var(--f2);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
}

.simpleNavContainer a::before,
.simpleNavContainer a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--sec);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.simpleNavContainer a:hover::before,
.simpleNavContainer a:hover::after {
  transform: scaleX(1);
}

.simpleNavContainer a.active {
  text-decoration: underline;
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media only screen and (max-width: 767px) {
  .simpleNavContainer ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .simpleNavContainer a {
    font-size: 1rem;
  }
}
